{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container mt-5">
        <div class="mb-4">
            {% load static %}
            <div class="card-body">
                <h1>Ваш Надежный Партнер на Дороге</h1>
                <p>В современном мире автомобиль стал неотъемлемой частью повседневной жизни. Он обеспечивает свободу передвижения, удобство и комфорт. Однако, как и любая техника, автомобили нуждаются в регулярном обслуживании и ремонте. Здесь на помощь приходят магазины автозапчастей.</p>

                <h2>Ассортимент и Качество</h2>
                <p>Магазин автозапчастей предлагает широкий ассортимент продукции для различных марок и моделей автомобилей. Это могут быть оригинальные запчасти от производителя, а также качественные аналоги от проверенных поставщиков. К числу наиболее востребованных товаров относятся:</p>
                <ul>
                    <li><strong>Двигатели и их компоненты:</strong> фильтры, свечи зажигания, ремни ГРМ и другие.</li>
                    <li><strong>Тормозная система:</strong> колодки, диски, тормозные жидкости.</li>
                    <li><strong>Подвеска и рулевое управление:</strong> амортизаторы, стойки, рулевые наконечники.</li>
                    <li><strong>Электроника и освещение:</strong> аккумуляторы, фары, лампы.</li>
                </ul>
                <p>Качество запчастей играет ключевую роль в обеспечении надежной работы автомобиля. Поэтому магазины автозапчастей тщательно отбирают своих поставщиков и предлагают товары с гарантией.</p>

                <h2>Удобство и Доступность</h2>
                <p>Современные магазины автозапчастей предоставляют удобные условия для своих клиентов. Они предлагают различные способы покупки: можно прийти в магазин лично, сделать заказ по телефону или через интернет. Многие магазины имеют собственные сайты, где представлен полный каталог продукции с актуальными ценами и наличием.</p>
                <p>Онлайн-покупка становится все более популярной благодаря удобству и быстроте. Покупатели могут выбрать нужные запчасти, сравнить цены и заказать доставку прямо к двери. Некоторые магазины предлагают услуги по установке и замене запчастей, что значительно экономит время клиентов.</p>

                <h2>Профессиональная Консультация</h2>
                <p>Одним из ключевых преимуществ магазина автозапчастей является квалифицированный персонал. Продавцы-консультанты обладают глубокими знаниями о товарах и готовы помочь в выборе нужной запчасти. Они могут дать рекомендации по установке, рассказать о характеристиках и совместимости с конкретными моделями автомобилей.</p>

                <h2>Цены и Скидки</h2>
                <p>Ценовая политика магазинов автозапчастей разнообразна. Они предлагают конкурентоспособные цены и различные акции, скидки и программы лояльности для постоянных клиентов. Это делает покупку запчастей более доступной и выгодной.</p>

            </div>
        </div>
    </div>
{% endblock %}
